.button{
    -fx-background-color: #89CFF0;
    -fx-background-radius:  15 15 15 15;
}
.button:hover{
    -fx-background-color: #70D1FF;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 1, 1);

}
.button:pressed{
    -fx-background-color: #89CFF0;
    -fx-background-radius:  20 20 20 20;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 1, 1);
}
.textfield-background{
     -fx-background-radius:  15 15 15 15;
     -fx-background-color: linear-gradient(to bottom right,#055ca3,#4fa9ee);
}

.table-view {
    -fx-border-color: transparent;
}

.table-view .scroll-bar: horizontal{
    -fx-background-color:transparent;
}

.table-view .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .scroll-bar: horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar: horizontal .thumb {
    -fx-background-color: #0079E2;
    -fx-background-width: 5em;
    -fx-background-radius: 5em;
}

.table-row-cell: odd {
    -fx-background-color: #FFFFFF;
}

.table-row-cell: even {
    -fx-background-color: #F3FAFF;
}

.table-view .column-header .label {
    -fx-background-color: linear-gradient(to top, #0079E2, #318FDF);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Arial;
    -fx-font-size: 13px;
    -fx-line-spacing: -5px;
    -fx-font-weight: 700;
}

